@model TutorGet.Models.Booking

@{
    ViewBag.Title = "Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Scripts/rate/jquery.js"></script>
<script type="text/javascript" src="~/Scripts/rate/jRating.jquery.js"></script>
<link href="~/Content/jRating.jquery.css" rel="stylesheet" />

<h3>Rate This Lesson</h3>

<br/> 
<div class="basic">
</div>
        
<br/>
<div>
    @Html.ActionLink("Back to Booking Calendar", "Index")
</div>


<script type="text/javascript">
    $(".basic").jRating({
        step: true,
        length: 5
    });

</script>


