@{
    ViewBag.Title = "About - TutorGet";
}
<h2>@ViewBag.Title</h2>

<p>
    TutorGet is an online learning platform which aims to help the language learners to find
    the suitable tutors and explore the nearby language exchange activities.
</p>

