@{
    ViewBag.Title = "Contact - Ke Wang";
}
<h2>@ViewBag.Title</h2>

<address>
    <i>
        Monash Universiy<br />
        Master of IT<br />
        <abbr title="Phone">P:</abbr>
        15757134790
    </i>
</address>

<address>
    <strong>Support:</strong>   <a href="kwan0068@student.monash.edu">kwan0068@student.monash.edu</a><br />
</address>